$img-sm: 128px;
.thumbnail-img{
  img{
      width: $img-sm;
      @media screen and (max-width: 1232px){
        width: 96px;
      }
      @media screen and (max-width: 840px){
        width: 80px;
    }
  }
}

.img-big{
  margin-right: $space-2;
}

.img-big:hover{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1)
}

.container-product{
  padding-left: $space-2;
  .add-cart {
    input{
    max-width: $space-8;
    margin-right: $space-2;
    border: solid 1px $gray-lighter;
    padding-left: $space-3;
    }
  }

  .price{
    &.gd{
      font-size: $space-3;
    }
    &.md{
      font-size: $space-2;
    }
    &.sm{
      font-size: $space-base;
    }
  }
  .cost{
    display: inline-flex;
    input{
      display: none;
    }
    .new-cost{
      color: $color-success;
      padding-right: $space-4;
    }
    .old-cost{
      padding-right: $space-4;
      text-decoration:line-through;
      color: $color-danger;
    }
  }

  .product-messages{
    display: inline-flex;
    p{
      font-size: $space-2;
    }
    img{
      max-width: 32px;
      max-height: $space-3;
      padding-right: $space-base;
    }
  }

  .opcions{
    .container-img-sm{
      display: inline-flex;
      .thumbnail-img-sm{
        img{
          padding-right: $space-base;
        }
      }
    }
  }

  @media screen and (max-width: 970px){
    .cost{
      input{
        display: block;
        max-width: $space-8;
        max-height: $space-4;
        margin-right: 0;
        border: solid 1px $gray-lighter;
        padding-left: $space-3;
      }
    }

    .add-cart{
      input{
        display: none;
      }
    }
  }

}


@media screen and (max-width: 768px){
  .thumbnail-img{
    img{
      display: none;
    }
  }
  .container-product{
    padding-left: 0;
  }
  .container-images-product{
    .extra-images{
      width: 80%;
    }
    .container-img-product{
      width:100%;
    }
  }
  .availability-msg{
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    .status{
      margin-left: $space-2;
    }
  }
}
