.content-summary{
	background-color: #DADADA;
	padding-left: $space-2;
	padding-right: $space-2;
	margin-top: $space-4;
	padding-top: $space-2;
	position: sticky;
	top: 80px;
	.Total{
		color:black;
	}
	.paypal{
		background-color: yellow;
	}
}
.general_content_help{
	padding: $space-2;
	.help_content{
		text-align: center;
		padding: $space-2;
	}	
}
.text-decoration{
		&.underline{
			text-decoration: underline;
		}
	}
.qty_content{
	display: inline-flex;
	flex-wrap: wrap;
	width: 100%;
	input{
		width:48px;
	}
	.hide_element{
		display: none;
	}
	p{
		padding-top: $space-2;
		width: 100%;
	}
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 600px) {
	table img {
		width: $space-8;
	}
	table {
    width:100%;
  }
  thead {
    display: none;
  }
  tr td:first-child {
    position: absolute;
  }
  tr td:nth-child(2) {
  }
  tr td:nth-child(3) {
    position: absolute;
  }
  tr td:nth-child(4) {
   	padding-left: $space-6;
   	display: inline-flex;
  }
  tbody td {
    display: block;
    text-align:center;
  }
  tbody td:before {
    content: attr(data-th);
  }
  .qty_content{
   	width: 100%;
   	padding-left:$space-base;
	 	.hide_element{
	 		display: block;
	 		padding-left: $space-2;
	 		font-size: $space-2;
	 	}
	 	p{
	 		width: 50%;
	 	}
  }
  .hide_element_responsive{
  	display: none;
  }
}