ul.breadcrumb{
    list-style-type: none;
    padding:  0px;

    li{
        display: inline-block;
        text-decoration: none;
    }
    li:not(:last-child){
        &::after{
            padding: 0 $space-2;
            content: '/';
        }
    }

}
.sub-menu{
 /*margin-left: $space-8;*/
 @media screen and (max-width: 768px){
    display: none;
  }
}
