.container-comp2_multimedia{
  width: 100%;
  display: inline-flex;
  padding-left: $space-6;
  padding-right: $space-6;
  .video-container{
    width: 40%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    video{
      width: 95%;
    }
  }
  .description{
    padding-left: $space-2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    h1{
      text-transform: capitalize;
      font-weight: bolder;
      text-align: center;
    }
    p{
      text-align: start;
      color: $black;
      font-size: 14px;
    }
    button{
      width: 40%;
    }
  }
  @media screen and (max-width: 900px){
    .description{
      p{
        font-size: 12px;
      }
    }
  }
  @media screen and (max-width: 768px){
    padding-left: $space-4;
    padding-right: $space-4;
    display: block;
    .video-container{
      width: 100%;
    }
    .description{
      padding-left: 0;
      width: 100%;
      h1{
        text-align: center;
      }
      p{
        text-align: justify;
      }
      button{
        width: 100%;
      }
    }
  }
}
