	.empty-cart-content{
    width: 100%;
    display: inline-flex;
    .left-content{
      width: 53%;
      padding: $space-2;
    }
    .middle-content{
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      .content{
        display: flex;
        justify-content: center;
        width: 100%;
				img{
					height: 100%;
				}
        p{
          width: 100%;
          max-width: 250px;
          color: black;
          text-align: center;
          padding: $space-base;
        }
        a{
          width: 100%;
          max-width: 250px;
          p{
            background-color: #228b22;
            color: white;
            font-size: $space-2;
          }
        }
      }
    }
  }
@media screen and (max-width: 991px){
  .empty-cart-content{
    width: 100%;
    display: inline-flex;
    .left-content{
      width: 0;
      padding: 0;
    }
    .middle-content{
      width: 100%;
    }
  }
}
