.content-slider{
	width: 100%;
	display: inline-flex;
	justify-content: center;
	  .content-cita{
	    width: 100%;
	    display: inline-flex;
	    flex-wrap: wrap;
	    .content-picture{
	      //width: 25%;
	      display: flex;
	      justify-content: center;
	      flex-direction: column;
	      align-items: center;
	      img{
	        max-width: 100px;
	        border-radius: 100%;
	      }
	    }
	    .content-info{
				padding-left: $space-3;
	      width: 90%;
	      strong{
	        text-align: right;
	      }
	      p{
	        text-align: left;
	      }
	    }
	  }
	.slider{
		width: 90%;
	}
}
