 /* Reset Select */
 select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: white;
    background-image: none;
  }
  /* Custom Select */
  .select {
    position: relative;
    display: block;
    /*width: 100%;*/
    height: 2em;
    line-height: 1.5;
    background: white;
    overflow: hidden;
    border-radius: 22px;
    border: solid 1px black;
}
  select {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 .5em;
    color: black;
    cursor: pointer;
  }
  select::-ms-expand {
    display: none;
  }
  /* Arrow */
  .select::after {
    content: '\2228';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 1em;
    background: white;
    pointer-events: none;
    color: black;
  }
  /* Transition */
  .select:hover::after {
    color: black;
  }
  .select::after {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }