.hero-content{
  height: 45vh;
  width: 100%;
  margin-bottom: $space-5;
  .hero-image {
    //background-image: url('../../../images/01_imagen_header.png');
    background-image: url('https://dummyimage.com/1000x500/000/fff');
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .hero-text {
    h1{
      font-size: $space-7;
      color: $white;
      text-transform: capitalize;
      margin: 0;
    }
    p{
      color: $white;
      font-size: $space-4;
      text-transform: capitalize;
    }
    button {
      border: none;
      outline: 0;
      display: inline-block;
      padding: 15px 25px;
      color: $white;
      background-color: #a0a0a0;
      text-align: center;
      cursor: pointer;
      border-radius: 7px;
    }
    text-align: start;
    position: absolute;
    top: 72%;
    left: 24%;
    transform: translate(-50%, -50%);
    color: white;
    line-height: 1;
  }
  .hero-text button:hover {
    background-color: #555;
    color: white;
  }
@media screen and (max-width: 900px){
      width: 100%;
      height: 35vh;
      .hero-text{
        left: 27%;
      }
  }
  @media screen and (max-width: 768px){
    .hero-text{
      left: 32%;
      text-align: justify;
    }
  }
  @media screen and (max-width: 640px){
    .hero-text{
      left: 35%;
      h1{
        font-size: $space-5;
      }
      p{
        font-size: $space-2;
      }
    }
  }
  @media screen and (max-width: 480px){
    .hero-text{
      h1{
        font-size: $space-3;
      }
      button{
        padding: $space-base 25px;
      }
    }
  }
}
