.input-group{
  display: inline-flex;
  width: 100%;
  height: 40px;
  .input-group-ad{
    padding: 12px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #fff;
    text-align: center;
    background-color: #6c6c6d;
    border-radius: 0;
  }
}
