.menu-container{
  display: inline-flex;
  font-size: 14px;
  margin-top: $space-8;
  line-height: 1.5;
  ul{
    list-style: none;
    li{
    cursor: pointer;
      .last-products{
        padding-top: $space-2;
      }
  }
  }
  .list-title{
    font-weight: bolder;
    font-size: $space-2;
  }
  .sub-list{
    padding-top: $space-4;
  }
  @media screen and (max-width: 480px){
  display: block;
  .sub-list{
    padding-top: $space-base;
  }
  }
}
